<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeyou.yeyoubackend.mapper.TeamSeckillMapper">

    <resultMap id="BaseResultMap" type="com.yeyou.yeyoubackend.model.domain.TeamSeckill">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="teamId" column="teamId" jdbcType="BIGINT"/>
            <result property="joinNum" column="joinNum" jdbcType="INTEGER"/>
            <result property="beginTime" column="beginTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teamId,joinNum,
        beginTime,endTime,createTime,
        updateTime,isDelete
    </sql>
</mapper>
